<head>
    <!-- link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
</head>
<body>
    <!-- componente cabeçalho -->
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="logo" class="logo"></a>
        <div class="sair">
            <span>Sair</span>
            <a href="{{ url_for('indexHome') }}"><img src="{{ url_for('static', filename='icones/sair.png') }}" alt="sair"></a>
        </div>
    </header>

    <!-- componente rodapé -->
    <footer>© 2022 SiriusBank</footer>
</body>