<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabeçalho</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
</head>
<body>
    <header>
        <span class="logo">Logo</span>
        <div class="sair">
            <span>Sair</span>
            <a href="#"><img src="{{ url_for('static', filename='icones/sair.png') }}" alt="sair"></a>
        </div>
    </header>
    <footer>© 2022 Nome da Empresa</footer>
</body>
</html>