<head>
    <!-- link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dados-usuario.css') }}">
    <!-- fim -->
</head>

<body>
    <!-- componente dados do usuário -->
    <div class="fundo">
        <div class="dados-usuario">
            <div class="dados">
                <h1 class="usuario">Olá, {{ session['nomeUsuario'] }}</h1>
                <label>Agência: {{ session['agenciaUsuario'] }}</label>
                <label>Conta: {{ session['contaUsuario'] }}</label>
            </div>
            <div class="dados">
                <h1>Saldo disponível</h1>
                <span class="saldo">R$ {{ session['saldoUsuario'] }}</span>
            </div>
        </div>
        <hr class="hr">
    </div>
    <!-- fim -->
</body>