{% extends "base_gg.html" %}

{% block contents %}
<main>

    <!-- botão nova agência-->
    <section class="container">
        <div class="nova_agencia">
        <input type="button" class="nova_agencia" value="+ Nova" name="">
        </div>

        <!-- tabela -->
        <table>
            <thead>
               <tr>
                {% for coluna in colunas %}
                    <th>{{ coluna }}</th>
                {% endfor %}
                </tr> 
            </thead>
            <tbody>
                {% for linhas in dados %}
                    <tr>
                        {% for x in linhas %}
                            {% if loop.index0 != 1 %}
                                <td>{{ x }}</td>
                            {% endif %}
                            {% if loop.index0 == 1 %}
                                <td><a href={{url_for("infoAgencias",idAgencia=x)}}><img class="icone_visualizar" src="visualizar.png" alt="Ver"></a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</main>
{% endblock %}