<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- aba navegador -->
    <title>{{ tituloNavegador }}</title>
    <link rel="icon" href="../static/img/logo-parcial.png">

    <!-- links css -->
    <link rel="stylesheet" href="../static/styles/navbar.css">
    <link rel="stylesheet" href="../static/styles/formularios.css">
    <link rel="stylesheet" href="../static/styles/botoes.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel=" stylesheet" href="../static/styles/login.css">
    {% endblock %}
</head>

<body class="body_index">

    <!-- cabeçalho -->
    {% block header %}
    <header>
        <div>
            <img src="../static/img/logo.png" alt="logo" class="logo">
        </div>
        <div class="links">
            <a href="{{ url_for('indexHome') }}" class="cliente">Cliente</a>
            <a href="{{ url_for('indexGerente') }}" class="gerente">Gerente</a>
        </div>
    </header>
    {% endblock %}

    <!-- conteúdo da página -->
    <main>
        {% block contents%}{% endblock %}
    </main>

    <!-- rodapé -->
    {% block footer %}
    <footer>© 2022 SiriusBank</footer>
    {% endblock %}

</body>

</html>