<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- aba navegador -->
    <title>SiriusBank</title>
    <link rel="icon" href="../static/icones/logo-parcial.png">

    <!-- links css -->
    <link rel="stylesheet" href="../static/styles/menu-lateral.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="../static/styles/telas-home.css">
    <link rel="stylesheet" href="../static/styles/telas-transacoes.css">
    <link rel="stylesheet" href="../static/styles/tabelas-filtros.css">
    <link rel="stylesheet" href="../static/styles/comprovante.css">
    {% endblock %}
</head>

<body>

    <div class="pagina">

        <!-- menu lateral -->
        {% block menu %}
        <div class="sidebar">
            <section class="logoContent">
                <div class="logo">
                    <img src="../static/icones/logo.png" alt="logo">
                </div>
                <!-- /logo -->
                <img src="../static/icones/menu.png" alt="menu" id="btn">
            </section>
            <!-- /logoContent -->
            <ul class="nav-list">
                <li>
                    <a href="{{ url_for('home') }}">
                        <img src="../static/icones/home.png" alt="home">
                        <span class="links-name">Home</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('deposito') }}">
                        <img src="../static/icones/deposito.png" alt="depósito">
                        <span class="links-name">Depósito</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('saque') }}">
                        <img src="../static/icones/saque.png" alt="saque">
                        <span class="links-name">Saque</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <!-- {{ url_for('transferencia') }} -->
                        <img src="../static/icones/transferencia.png" alt="transferência">
                        <span class="links-name">Transferência</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('extrato') }}">
                        <img src="../static/icones/extrato.png" alt="extrato">
                        <span class="links-name">Extrato</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <!-- {{ url_for('configuracoes') }} -->
                        <img src="../static/icones/configuracoes.png" alt="configurações">
                        <span class="links-name">Configurações</span>
                    </a>
                </li>
            </ul>
            <!-- /nav-list -->
            <section class="profileContent">
                <div class="profile">
                    <div class="profileDetail">
                        <img src="../static/icones/perfil.jpg" alt="usuário">
                        <span class="name">{{ session['nomeUsuario'] }}</span>
                    </div>
                    <!-- /profileDetail -->
                    <a href="{{ url_for('indexHome') }}"><img src="../static/icones/sair.png" alt="sair"
                            id="logout"></a>
                </div>
                <!-- /profile -->
            </section>
            <!-- /profileContent -->
        </div>
        <!-- /sidebar -->
        {% endblock %}

        <!-- conteúdo da página -->
        <section class="pageContent">
            {% block contents %}

            {% endblock %}
        </section>
    </div>

    <!-- script botão do menu lateral (abrir e fechar) -->
    <script>
        // variáveis
        const btn = document.querySelector('#btn');
        const sidebar = document.querySelector('.sidebar');
        const home = document.querySelector('.pageContent');

        // eventos de escuta do click
        btn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            home.classList.toggle('active');
        });
    </script>
</body>

</html>