{% extends 'base_gg.html' %}

{% block contents %}
<main>

    <div class="container">
        <a href="{{ url_for('listaAgencias') }}" class="voltar">&lt voltar</a><br><br>
        <form method="post" action="" class="solicitacao">
            <div class="campo-duplo">
                <div class="info-conta">
                    <label>Agência</label>
                        <select name="numAgenciaCadastro" id="numAgencia" class="select">
                        {% for agencia in listaAgenciasDisponiveis %}
                            <option value="{{ agencia }}">{{ agencia }}</option>
                        {% endfor %}
                        </select>
                </div>
                <!-- /info-conta -->
                <div class="info-conta">
                    <label>Número máximo de clientes</label>
                    <input type="number" value="{{ session['retornoNumeroClientes'] }}" name="numeroClientes">
                </div>
                <!-- /info-conta -->
            </div>
            <!-- /campo-duplo -->
            <!-- <div class="campo-unico">
                <label>Gerente</label>
                <input type="text" value="{{ session['nomeGerente'] }}" name="nomeGerente">
            </div> -->
            <!-- /campo-unico -->
            <div class="campo-unico">
                <label>Endereço</label>
                <input type="text" value="{{ session['retornoEnderecoAgencia'] }}" name="enderecoAgencia">
            </div>
            <!-- campo-unico -->

            <aside>
                <p class="data-inicio">Criada em: {{ session['retornoNumeroDataCriacao'] }}</p>
                <section class="botoes">
                    <input type="submit" name="confirmar" class="confirmar" value="Salvar">
                    <input type="submit" name="cancelar" class="cancelar" value="Cancelar">
                </section>
                <!-- /botoes -->
            </aside><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <div class="error">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </form>
        <!-- /solicitação -->
    </div>
    <!-- /container -->

</main>
{% endblock %}
