{% extends "base_index.html" %}

{% block contents %}
<div class="login_gerente">

    <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if error %}
        <p class=error><strong>Erro:</strong> {{ error }}</p>
    {% endif %} -->

    <form method="post" action="">
        <h1>Configure o sistema</h1>
        <label>Capital total:</label>
        <input type="number" name="capitalTotal" id="" placeholder="Capital total">
        <label>Taxa de Juros da Poupança</label>
        <input type="number" name="taxaPoupanca" id="" placeholder="Juros da poupança" step=".01">
        <label>Taxa de Juros do Cheque Especial</label>
        <input type="number" name="taxaCheque" id="" placeholder="Juros do cheque especial" step=".01">
        <input type="submit" value="Entrar" class="entrar">
    </form>

</main>
{% endblock %}