{% extends 'base-gerente.html' %}

{% block contents %}
<main>

    <!-- título -->
    <aside class="fundo">
        <div class="titulo">
            <h1>Gerente</h1>
            <hr>
        </div>
    </aside>

    <div class="container">
        <a href="{{ url_for('gerentes') }}" class="voltar">&lt voltar</a><br><br>
        <form method="post" action="{{ url_for('infoGerente') }}" class="solicitacao">
            <div class="campo-unico">
                <label>Nome</label><br>
                <input type="text" value="{{ session['nomeGeAgencia'] }}" name="nomeGeAgencia">
            </div>
            <div class="campo-triplo">
                <div class="info-conta">
                    <label>CPF</label>
                    <input type="number" maxlength="11" value="{{ session['cpfGeAgencia'] }}" name="cpfGeAgencia">
                </div>
                <div class="info-conta">
                    <label>Data de nascimento</label>
                    <input type="date" value="{{ session['dataNascGeAgencia'] }}" name="dataNascGeAgencia">
                </div>
                <div class="info-conta">
                    <label>Gênero</label>
                    <select name="generoGeAgencia" class="genero" id="generoGeAgencia" aria-selected="{{ session['generoGeAgencia'] }}">
                        <option value="Selecionar" disabled></option>
                        <option value="Feminino"></option>
                        <option value="Masculino"></option>
                        <option value="Outro"></option>
                    </select>
                </div>
            </div>
            <div class="campo-unico">
                <label>Endereço</label>
                <input type="text" value="{{ session['enderecoGeAgencia'] }}" name="enderecoGeAgencia">
            </div>
            <div class="campo-triplo">
                <div class="info-conta">
                    <label>Número de matrícula</label>
                    <input type="number" value="{{ session['matriculaGeAgencia'] }}" name="matriculaGeAgencia">
                </div>
                <div class="info-conta">
                    <label>Função</label>
                    <span>Gerente de Agência</span>
                </div>
                <div class="info-conta">
                    <label>Agência</label>
                    <input type="number" value="{{ session['agenciaGeAgencia'] }}" name="agenciaGeAgencia">
                </div>
            </div>

            <aside>
                <p class="data_inicio">Gerente desde: {{ session["dataInicioGeAgencia"] }}</p>
                <section class="botoes">
                    <input type="submit" name="confirmar" class="confirmar" value="Salvar">
                    <input type="submit" name="cancelar" class="cancelar" value="Cancelar">
                </section>
            </aside>
        </form>
    </div>

</main>
{% endblock %}