{% extends 'base-gerente.html' %}

{% block contents %}
<main class="container">

    <a href="{{ url_for('gerenciar') }}" class="voltar">&lt voltar</a>

    <form method="post" action="{{ url_for('encerramentoConta') }}">
        <h2>Solicitação de Encerramento de Conta</h2>
        <div class="campo-unico">
            <div class="info-conta">
                <label>Nome</label>
                <input name="nome" value="{{ session['nomeUsuarioCadastro'] }}" disabled>
            </div>
        </div>

        <div class="campo-triplo">
            <div class="info-conta">
                <label>CPF (Apenas números)</label>
                <input name="cpf" value="{{ session['cpfUsuarioCadastro'] }}" disabled>
            </div>

            <div class="info-conta">
                <label>Data de nascimento</label>
                <input name="dataAniversario" value="{{ session['dataAniversarioCadastro'] }}" disabled>
            </div>

            <div class="info-conta">
                <label>Gênero</label>
                <input name="genero" value="{{ session['generoCadastro'] }}" disabled>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Endereço</label>
                <input name="endereco" value="{{ session['enderecoCadastro'] }}" disabled>
            </div>
        </div>

        <div class="campo-triplo">
            <div class="info-conta">
                <label>Número da conta</label>
                <input name="contaUsuario" value="{{ session['contaBancariaCadastro'] }}" disabled>
            </div>

            <div class="info-conta">
                <label>Agência</label>
                <input name="agenciaUsuario" value="{{ session['agenciaBancariaCadastro'] }}" disabled>
            </div>

            <div class="info-conta">
                <label>Saldo disponível</label>
                <input name="saldoUsuario" value="{{ session['saldoBancarioCadastro'] }}" disabled>
            </div>
        </div>

        <aside>
            <p class="data-inicio">Cliente desde: {{ session["dataClientela"] }}</p>
            <section class="botoes">
                <input type="submit" name="confirmar" class="confirmar" value="Confirmar">
                <input type="submit" name="cancelar" class="cancelar" value="Cancelar">
            </section>
        </aside>
    </form>

</main>
{% endblock %}