{% extends "base_gg.html" %}

{% block contents %}
<main>

    <!-- filtros -->
    <section class="container">
        <div class="filtros">
            <input type="text" placeholder="Nome" nome="nomeGerente" class="nome">
            <div class="pesquisar_nome">
                <img src="../static/icones/lupa.png" alt="lupa" class="lupa">
                <input type="submit" class="btn_pesquisar" value="" name="pesquisar">
            </div>
        </div>

        <!-- tabela -->
        <table>
            <thead>
               <tr>
                {% for coluna in colunas %}
                    <th>{{ coluna }}</th>
                {% endfor %}
                </tr> 
            </thead>
            <tbody>
                {% for linhas in dados %}
                    <tr>
                        {% for x in linhas %}
                            {% if loop.index0 != 1 %}
                                <td>{{ x }}</td>
                            {% endif %}
                            {% if loop.index0 == 1 %}
                                <td><a href={{url_for("infoGerente",idGerente=x)}}>Ver</a></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</main>
{% endblock %}