{% extends 'base_gg.html' %}

{% block contents %}
<main>

    <div class="container">
        <a href="{{ url_for('listaGerentes') }}" class="voltar">&lt voltar</a><br><br>
        <form method="post" action="{{ url_for('editarGerentes') }}" class="solicitacao">
            <div class="campo-unico">
                <div class="info-conta">
                    <label>Nome</label>
                    <span>{{ session['nomeGerenteCadastro'] }}</span>
                </div>
            </div>
            <div class="campo-triplo">
                <div class="info-conta">
                    <label>CPF</label>
                    <span>{{ session['cpfGerenteCadastro'] }}</span>
                </div>
                <div class="info-conta">
                    <label>Data de nascimento</label>
                    <span>{{ session['nascGerenteCadastro'] }}</span>
                </div>
                <div class="info-conta">
                    <label>Gênero</label>
                    <span>{{ session['generoGerenteCadastro'] }}</span>
                </div>
            </div>
            <div class="campo-unico">
                <div class="info-conta">
                    <label>Endereço</label>
                    <span>{{ session['endGerenteCadastro'] }}</span>
                </div>
            </div>
            <div class="campo-triplo">
                <div class="info-conta">
                    <label>Número de matrícula</label>
                    <span>{{ session['matriculaGerenteCadastro'] }}</span>
                </div>
                <div class="info-conta">
                    <label>Função</label>
                    <span>Gerente de Agência</span>
                </div>
                <div class="info-conta">
                    <label>Agência</label>
                    <span>{{ session['numAgenciaCadastro'] }}</span>
                </div>
            </div>

            <aside class="data-botao">
                <p class="data_inicio">Gerente desde: {{ session["dataInicioGeAgencia"] }}</p>
                <button type="submit" class="editar"><img src="../static/icones/editar.png" alt="editar"
                class="img_editar"> Editar</button>
            </aside>
        </form>
    </div>

</main>
{% endblock %}