{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <div style="background-color: firebrick; color: white; border-radius: 10px; text-align: center; width: 300px;">{{ message }}</div>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% if error %}
    <p class=error><strong>Erro:</strong> {{ error }}
{% endif %}
<form method="post" action="">
    <h2>Seja bem vindo!</h2><br>
    CPF:<br>
    <input type="text" name="cpfLogin"><br>
    Senha:<br>
    <input type="password" name="senhaLogin"><br><br>
    <input type="submit" name="logar"><br><br>
</form>
    <p>Não tem cadastro? <a href="{{ url_for('indexCadastro') }}">Cadastre-se!</a></p>
    

    


