<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Lateral</title>
    <!-- <link rel="stylesheet" href="menu-lateral.css" Flask só enxerga arquivos dentro de static> --> 
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/menu-lateral.css') }}">
</head>
<body>
        <main class="container">
            <a href="">
                <label for="">
                    <img src="../icones/home.png" alt="">
                </label>
                <label for="">Home</label>
            </a>

            <a href="">
                <label for="">
                    <img src="../icones/deposito.png" alt="">
                </label>
                <label for="">Depósito</label>
            </a>

            <a href="">
                <label for="">
                    <img src="../icones/saque.png" alt="">
                </label>
                <label for="">Saque</label>
            </a>

            <a href="">
                <label for="">
                    <img src="../icones/transferencia.png" alt="">
                </label>
                <label for="">Transferência</label>
            </a>

            <a href="">
                <label for="">
                    <img src="../icones/extrato.png" alt="">
                </label>
                <label for="">Extrato</label>
            </a>

            <a href="">
                <label for="">
                    <img src="../icones/configuracoes.png" alt="">
                </label>
                <label for="">Configurações</label>
            </a>

        </main>
        <div class="telaInterativa">
            <div class="visualizadorBorda">
               <h4>
                Olá, {{ session['nomeUsuario'] }}! Saldo disponível: R$ {{ session['saldoUsuario'] }}<br>
                Agência: {{ session['agenciaUsuario'] }}<br>
                Conta Bancária: {{ session['contaUsuario'] }}
               </h4> 
            </div>
            <div class="visualizadorTitulo">
                <h3>Depósito:</h3>
            </div>
            <div class="visualizadorDeposito">
                <form method="post" action="">
                    Número de conta:<br>
                    <input type="text" name="numConta"><br>
                    Agência:<br>
                    <input type="text" name="numAgencia"><br>
                    CPF:<br>
                    <input type="text" name="numCpf"><br>
                    Valor:<br>
                    <input type="text" name="valorDeposito"><br><br>
                    <input type="submit" name="depositar"><br>
                </form>  
            </div>
        </div>
</body>
</html>