{% extends "base_gg.html" %}

{% block contents %}

<main class="container">
    <form method="post">
        <a href="{{ url_for('listaAgencias') }}" class="voltar">&lt voltar</a><br><br>
        <div class="campo-unico">
            <div class="info-conta">
                <label>Número</label>
                <select name="numAgencia" id="numAgencia" class="select">
                    <option value="0001">0001</option>
                    <option value="0002">0002</option>
                    <option value="0003">0003</option>
                    <option value="0004">0004</option>
                    <option value="0005">0005</option>
                    <option value="0006">0006</option>
                    <option value="0007">0007</option>
                    <option value="0008">0008</option>
                    <option value="0009">0009</option>
                    <option value="0010">0010</option>
            </div>
        </div>

        <!-- <div class="campo-unico">
            <div class="info-conta">
                <label class="info-conta"></label>
                <input type="text" name="nomeGerente" placeholder="Nome do gerente">
            </div>
        </div> -->

        <div class="campo-unico">
            <div class="info-conta">
                <label class="info-conta">Endereço </label>
                <input type="text" name="enderecoAgencia" placeholder="Endereço da agência">
            </div>
        </div>

        <input type="submit" name="cadastrar" class="cadastrar" value="Cadastrar"><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

    </form>

</main>

{% endblock %}