{% extends "base-cliente.html" %}

{% block contents %}

<main class="container">
    <h2>Comece sua poupança agora!</h2>
    <form method="post" class="transacao">
        <div class="campo-duplo">
            <div class="info-conta">
                <label>Saldo disponível:</label>
                <span>R$ {{ session['saldoUsuario'] }}</span>
            </div>

            <label class="info-conta">Valor:<br>
                <input type="number" name="valorPoupar" placeholder="R$ 0,00" step="0.01">
            </label>
        </div>

        <div>
            <div class="info-conta">
                <label>Simulação:</label>
                <span>R$ {{ session["montanteParaReceber"] }}</span>
            </div>
        </div>

        <section class="botoes">
                <input type="submit" name="poupar" class="confirmar" value="Poupar">
                <input type="submit" name="retirar" class="cancelar" value="Retirar">
        </section>

    <!-- <h2>Simule aqui:</h2>
        <div class="campo-duplo">
            <label class="info-conta">Valor:<br>
                <input type="number" name="valorSimulado">
            </label>

            <label class="info-conta">Anos:<br>
                <input type="number" name="anosSimulado">
            </label>
        </div>

        <section class="botoes">
            <input type="submit" name="simular" class="button" value="Simular">
        </section> -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <div class="error">{{ message }} </div>
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </form>
</main>

{% endblock %}