{% if session['funcaoAdministrativa'] == 'Gerente Geral' %}
{% extends "base_gg.html" %}
{% endif %}
{% if session['funcaoAdministrativa'] == 'Gerente de Agência' %}
{% extends "base-gerente.html" %}
{% endif %}

{% block contents %}
<main class="container">

    <a href="{{ url_for('gerenciar') }}" class="voltar">&lt voltar</a>

    <form method="post">
        <h2>Solicitação de Alteração de Dados Cadastrais</h2>
        <div class="campo-unico">
            <div class="info-conta">
                <label>Nome </label>
                <span>{{ session["novoNomeUsuario"] }}</span>
            </div>
        </div>

        <div class="campo-triplo">
            <div class="info-conta">
                <label>CPF</label>
                <span>{{ session["novoCpfUsuario"] }}</span>
            </div>

            <div class="info-conta">
                <label>Data de nascimento</label>
                <span>{{ session["novoAniversario"] }}</span>
            </div>

            <div class="info-conta">
                <label>Gênero</label>
                <span>{{ session["novoGenero"] }}</span>
            </div>
        </div>

        <div class="campo-unico">
            <div class="info-conta">
                <label>Endereço</label>
                <span>{{ session["novoEndereco"] }}</span>
            </div>
        </div>
        
        <div class="botoes">
            <input type="submit" name="confirmar" class="confirmar" value="Confirmar">
            <input type="submit" name="cancelar" class="cancelar" value="Cancelar">
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <div class="error">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </form>

</main>
{% endblock %}