{% extends "base-cliente.html" %}

{% block header %}{% endblock %}

{% block contents %}
<main>

    <!-- dados usuário -->
    <section class="fundo-home">
        <div class="info-usuario">
            <div class="info">
                <h1>Olá, {{ session['nomeUsuario'] }}</h1>
                <label>Agência: {{ session['agenciaUsuario'] }}</label>
                <label>Conta: {{ session['contaUsuario'] }}</label>
            </div>
            <div class="info">
                <h2>Saldo disponível</h2>
                <span>R$ {{ session['saldoUsuario'] }}</span>
            </div>
        </div>
        <hr>
    </section>

    <!-- home -->
    <section class="container">
        <h2>Home</h2>
        <p>Fique à vontade! Navegue pelo menu lateral!</p>
    </section>

</main>
{% endblock %}