{% extends "base-cliente.html" %}

{% block contents %}

<main class="container">
    <a href={{url_for("home")}} class="voltar">&lt voltar</a>
    <div class="comprovante">
        <section>
            <h2>SIRIUSBANK</h2>
            <h3>{{ session['dataHoraMovimentacao'] }} - Autoatendimento</h3>
            <div class="linha">
                <span></span>
            </div>
            <h3>COMPROVANTE DE <span>{{ session["tipoSolicitacao"] }}</span></h3>
        </section>
        <section>
            <h4>CLIENTE: <span>{{ session['nomeUsuario'] }}</span></h4>
            <h4>AGÊNCIA: <span>{{ session['agenciaUsuario'] }}</span></h4>
            <h4>CONTA: <span>{{ session['contaUsuario'] }}</span></h4>
            <h4>VALOR <span>{{ session["tipoSolicitacao"] }}</span>: {{ session["valorDeposito"] }}</h4>
            <h4>SALDO DISPONÍVEL: {{ session['saldoUsuarioAntes'] }}</h4>
            <h4>SALDO FINAL: {{ session["saldoFinalConfirmacao"] }}</h4>
            <h5>* Valor sujeito a conferência.</h5>
            <div class="linha">
                <span></span>
            </div>
        </section>
        <section>
            <h3>GUARDE ESTE COMPROVANTE ATÉ A OPERAÇÃO SER PROCESSADA.</h3>
        </section>
        <section class="imprimir">
            <img src="../static/icones/print.png" alt="print" class="print">
            <input type="submit" class="btn_imprimir_comprovante" value="Imprimir">
        </section>
        </section>
        <!-- <input type="submit" class="button" value="Imprimir" name="imprimir"> -->
    </div>
</main>

{% endblock %}