{% extends "base-gerente.html" %}

{% block contents %}
<main>

    <!-- título -->
    <aside class="fundo">
        <div class="titulo">
            <h1>Clientes</h1>
            <hr>
        </div>
    </aside>

    <!-- filtros -->
    <section class="container">
        <div class="filtros">
            <input type="text" placeholder="Nome" class="nome">
            <div>
                <input type="submit" class="pesquisar" value="Pesquisar" name="pesquisar">
            </div>
        </div>

        <!-- tabela -->
        
    </section>

</main>
{% endblock %}