{% extends "base-index.html" %}

{% block contents %}
<main class="login-cliente">

    <div class="abra-conta">
        <h1 class="titulo">Gerencie suas finanças <br> de forma inteligente</h1>
        <img src="../static/icones/capa.png" alt="capa" class="capa">
        <div class="button-abra-conta">
            <a href="{{ url_for('indexCadastro') }}"><span>Abra sua conta</span></a>
        </div>
    </div>

    <div class="container-login">
        <form method="post" action="" class="formulario">
            <h2>Faça seu login</h2>
            <span>Número da conta</span><br>
            <input class="conta" type="number" name="numContaUsuario" id="" placeholder="Informe sua conta"><br>
            <span>Senha</span><br>
            <input class="password" type="password" name="senhaLogin" id="" placeholder="Informe sua senha"><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% if error %}
            <p class=error><strong>Erro:</strong> {{ error }}
                {% endif %}
                <input type="submit" class="entrar" value="Entrar">
        </form>
    </div>

</main>
{% endblock %}