<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque</title>

    <!-- links CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu-lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tela-deposito-saque.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dados-usuario.css') }}">
</head>

<body>

    <!-- componente cabeçalho -->
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="logo"
                class="logo"></a>
        <div class="sair">
            <span>Sair</span>
            <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='icones/sair.png') }}"
                    alt="sair"></a>
        </div>
    </header>
    <!-- fim -->

    <div class="body">

        <!-- componente menu lateral -->
        <div class="menu">
            <a href="{{ url_for('home') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/home.png') }}" alt="home">
                </label>
                <label class="ativo">Home</label>
            </a>

            <a href="{{ url_for('deposito') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/deposito.png') }}"
                        alt="depósito">
                </label>
                <label class="ativo">Depósito</label>
            </a>

            <a href="{{ url_for('saque') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/saque.png') }}" alt="saque">
                </label>
                <label class="ativo">Saque</label>
            </a>

            <a href=""><!-- {{ url_for('transferencia') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/transferencia.png') }}"
                        alt="transferência">
                </label>
                <label class="inativo">Transferência</label>
            </a>

            <a href="{{ url_for('extrato') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/extrato.png') }}" alt="extrato">
                </label>
                <label class="ativo">Extrato</label>
            </a>

            <a href=""><!-- {{ url_for('configuracoes') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/configuracoes.png') }}"
                        alt="configurações">
                </label>
                <label class="inativo">Configurações</label>
            </a>
        </div>
        <!-- fim -->

        <div class="container">

            <div class="fundo">
                <h1>Saque</h1>
                <hr>
            </div>

            <!-- saque -->
            <div class="deposito">
                <h2>Quanto você quer sacar?</h2>
                <form method="post" action="">
                    <label class="valor">Valor<br>
                        <input type="text" name="valorSaque" placeholder="R$ 0,00" step="0.01">
                    </label>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <div class="error">{{ message }}</div>
                            </ul>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="submit" class="submit" value="Sacar">
                </form>
            </div>
            <!-- fim -->
        </div>
    </div>

    <!-- componente rodapé -->
    <footer>© 2022 SiriusBank</footer>
    <!-- fim -->
</body>

</html>