{% if session['funcaoAdministrativa'] == 'Gerente Geral' %}
{% extends "base_gg.html" %}
{% endif %}
{% if session['funcaoAdministrativa'] == 'Gerente de Agência' %}
{% extends "base-gerente.html" %}
{% endif %}

{% block contents %}

<!-- filtros -->
<main class="container">
    <form method="post">
        <div class="barra-pesquisa">
            <div class="filtros">
                <div class="periodo">
                    <span>Data inicial</span>
                    <input type="date" name="data-inicial">
                </div>
                <div class="periodo">
                    <span>Data final</span>
                    <input type="date" name="data-limite">
                </div>
                <div class="tipo-solicitacao">
                    <span>Tipo de Solicitação</span>
                    <select name="tipo-solicitacao" id="tipo-socilitacao">
                        <option value="todos">Todos</option>
                        <option value="abertura">Abertura</option>
                        <option value="fechamento">Fechamento</option>
                        <option value="alteração de dados">Alteração de dados</option>
                        <option value="depósito">Depósito</option>
                    </select>
                </div>
                <div class="pesquisar">
                    <img src="../static/icones/lupa.png" alt="lupa" class="lupa">
                    <input type="submit" class="btn_pesquisar" value="" name="pesquisar">
                </div>
            </div>
        </div>
    </form>

    <!-- tabela -->
    <table>
        <thead>
            <tr>
                {% for coluna in colunas %}
                <th>{{ coluna }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for linhas in dados %}
            <tr>
                {% if linhas[2] == 'Depósito' %}
                {% for x in linhas %}
                {% if loop.index0 != 3 %}
                <td>{{ x }}</td>
                {% endif %}
                {% if loop.index0 == 3 %}
                <td><a href={{url_for("confirmacaoDeposito",solicitacaoIdDeposito=x)}}><img class="visualizar"
                    src="../static/icones/ver.png" alt="Ver"></a></td>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if linhas[2] == 'Abertura' %}
                {% for y in linhas %}
                {% if loop.index0 != 3 %}
                <td>{{ y }}</td>
                {% endif %}
                {% if loop.index0 == 3 %}
                <td><a href={{url_for("confirmacaoAbertura",solicitacaoIdAbertura=y)}}><img class="visualizar"
                    src="../static/icones/ver.png" alt="Ver"></a></td>
                    
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if linhas[2] == 'Alteração de Dados' %}
                {% for z in linhas %}
                {% if loop.index0 != 3 %}
                <td>{{ z }}</td>
                {% endif %}
                {% if loop.index0 == 3 %}
                <td><a href={{url_for("confirmacaoAlteracao",solicitacaoIdAlteracao=z)}}><img class="visualizar"
                    src="../static/icones/ver.png" alt="Ver"></a></td>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if linhas[2] == 'Fechamento' %}
                {% for w in linhas %}
                {% if loop.index0 != 3 %}
                <td>{{ w }}</td>
                {% endif %}
                {% if loop.index0 == 3 %}
                <td><a href={{url_for("confirmacaoFechamento",solicitacaoIdFechamento=w)}}><img class="visualizar"
                    src="../static/icones/ver.png" alt="Ver"></a></td>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}