{% extends "base.html" %}

{% block contents %}

<main>

    <!-- título -->
    <div class="fundo">
        <div class="titulo">
            <h1>Extrato</h1>
            <hr>
        </div>
    </div>

    <!-- filtros -->
    <div class="container">
        <form method="post" action="">
            <div class="barra-pesquisa">
                <div class="filtros">
                    <div class="periodo">
                        <span>Data inicial</span>
                        <input type="date" name="data-inicial">
                    </div>
                    <div class="periodo">
                        <span>Data final</span>
                        <input type="date" name="data-limite">
                    </div>

                    <div class="tipo-transacao">
                        <span>Tipo de transação</span>
                        <select name="tipo-transacao" id="tipo-transacao">
                            <option value="todos">Todos</option>
                            <option value="deposito">Depósito</option>
                            <option value="saque">Saque</option>
                        </select>
                    </div>
                </div>
                <input type="submit" class="pesquisar" value="Pesquisar" name="pesquisar">
            </div>
            <!-- tabela -->
            {% for tabela in tabelas %}
            {{ titulos[loop.index] }}
            {{ tabela|safe }}
            {% endfor %}
            <input type="submit" class="button" value="Imprimir" name="imprimir">
            <!-- <button name="imprimir"><img src="{{ url_for ('static', filename='icones/print.png') }}" alt="">Imprimir</button> -->
        </form>
    </div>

</main>

{% endblock %}