{% extends "base-index.html" %}

{% block contents %}
<main class="login-gerente">

    <form method="post" action="" class="form-login">
        <h1>SiriusBank</h1>
        <span>Matrícula</span><br>
        <input type="number" name="numMatricula" id="" placeholder="Matrícula"><br>
        <span>Senha</span><br>
        <input type="password" name="senhaLogin" id="" placeholder="Senha"><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <div class="error">{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if error %}
        <p class=error><strong>Erro:</strong> {{ error }}</p>
            {% endif %}
        <input type="submit" value="Entrar">
    </form>

</main>
{% endblock %}