{% extends "base.html" %}

{% block contents %}
<main>

    <!-- título -->
    <div class="fundo">
        <h1>Clientes</h1>
        <hr>
    </div>

    <!-- filtros -->
    <div class="clientes">
        <div class="filtros">
            <div class="periodo">
                <input type="date" placeholder="Nome">
            </div>
        </div>

        <!-- tabela -->
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Transação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- for -->
                    <td>
                        <!-- {{ session['data'] }} -->
                    </td>
                    <td>
                        <!-- {{ session['transacao'] }} -->
                    </td>
                    <td>
                        <!-- {{ session['valor'] }} -->
                    </td>
                    <!-- endfor-->
                </tr>
            </tbody>
        </table>
    </div>

</main>
{% endblock %}