{% extends "base-gerente.html" %}

{% block contents %}

<main>
    <aside class="fundo">
        <div class="titulo">
            <h1>Gerenciar usuários</h1>
            <hr>
        </div>
    </aside>
    <form method="post" action="">
    <div class="container">
        <a href="{{ url_for('gerenciar') }}" class="voltar">&lt voltar</a>
        <section class="solicitacao">
            <h2>Solicitação de Abertura de Conta</h2>
            <div class="campo-unico">
                <label>Nome</label>
                <span>{{ session["nomeUsuarioAbertura"] }}</span>
            </div>

            <div class="campo-triplo">
                <div class="info-conta">
                    <label>CPF</label>
                    <span>{{ session["cpfUsuarioAbertura"] }}</span>
                </div>
                <div class="info-conta">
                    <label>Data de nascimento</label>
                    <span>{{ session["dataAniversarioAbertura"] }}</span>
                </div>
                <div class="info-conta">
                    <label>Gênero</label>
                    <span>{{ session["generoAbertura"] }}</span>
                </div>
            </div>

            <div class="campo-unico">
                <div class="info-conta">
                    <label>Endereço</label>
                    <span>{{ session["enderecoAbertura"] }}</span>
                </div>

                <div class="campo-duplo">
                    <div class="info-conta">
                        <label>Número da conta</label>
                        <span>{{ session["contaBancariaAbertura"] }}</span>
                    </div>
                    <div class="info-conta">
                        <label>Agência</label>
                        <span>{{ session["agenciaBancariaAbertura"] }}</span>
                    </div>
                </div>
        </section>

        <section class="botoes">
            <input type="submit" name="confirmar" class="confirmar" value="Confirmar">
            <input type="submit" name="cancelar" class="cancelar" value="Cancelar">
        </section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </form>
    </div>
    
</main>
{% endblock %}