<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- links CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu-lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dados-usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tela-home.css') }}">
</head>

<body>

    <!-- componente cabeçalho -->
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="logo" class="logo"></a>
        <div class="sair">
            <span>Sair</span>
            <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='icones/sair.png') }}" alt="sair"></a>
        </div>
    </header>
    <!-- fim -->

    <div class="body">

        <!-- componente menu lateral -->
        <div class="menu">
            <a href="{{ url_for('home') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/home.png') }}" alt="home">
                </label>
                <label class="ativo">Home</label>
            </a>
    
            <a href="{{ url_for('deposito') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/deposito.png') }}" alt="depósito">
                </label>
                <label class="ativo">Depósito</label>
            </a>
    
            <a href="{{ url_for('saque') }}">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/saque.png') }}" alt="saque">
                </label>
                <label class="ativo">Saque</label>
            </a>
    
            <a href=""><!-- {{ url_for('transferencia') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/transferencia.png') }}" alt="transferência">
                </label>
                <label class="inativo">Transferência</label>
            </a>
    
            <a href=""><!-- {{ url_for('extrato') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/extrato.png') }}" alt="extrato">
                </label>
                <label class="inativo">Extrato</label>
            </a>
    
            <a href=""><!-- {{ url_for('configuracoes') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/configuracoes.png') }}" alt="configurações">
                </label>
                <label class="inativo">Configurações</label>
            </a>
        </div>
        <!-- fim -->

        <div class="container">

            <!-- componente dados usuário -->
            <div class="fundo">
                <div class="dados-usuario">
                    <div class="dados">
                        <h1>Olá, {{ session['nomeUsuario'] }}</h1>
                        <label>Agência: {{ session['agenciaUsuario'] }}</label>
                        <label>Conta: {{ session['contaUsuario'] }}</label>
                    </div>
                    <div class="dados">
                        <h1>Saldo disponível</h1>
                        <span class="saldo">R$ {{ session['saldoUsuario'] }}</span>
                    </div>
                </div>
                <hr class="hr">
            </div>
            <!-- fim -->

            <!-- home -->
            <div class="home">
                <h1>Home</h1>
                <p>Fique à vontade! Navegue pelo menu lateral!</p>
            </div>
            <!-- fim -->
        </div>
    </div>

    <!-- componente rodapé -->
    <footer>© 2022 SiriusBank</footer>
    <!-- fim -->
</body>

</html>