{% extends "base-cliente.html" %}

{% block header %}{% endblock %}

{% block contents %}
<main>

    <!-- dados usuário -->
    <section class="fundo-home">
        <div class="info-usuario">
            <div class="info">
                <h1>Olá, {{ session['nomeUsuario'] }}</h1>
                <span>Agência: {{ session['agenciaUsuario'] }}</span>
                <span>Conta: {{ session['contaUsuario'] }}</span>
                <span>Tipo de conta: {{ session['tipoContaUsuario'] }}</span>
            </div>
            <div class="info">
                <span class="saldo_disponivel">Saldo disponível</span>
                <span class="saldo">R$ {{ session['saldoUsuario'] }}</span>
            </div>
        </div>
        <hr>
    </section>

    <!-- home -->
    <section class="container">
        <h2>Home</h2>
        <p>Fique à vontade! Navegue pelo menu lateral!</p>
    </section>

</main>
{% endblock %}