{% extends "base-cliente.html" %}

{% block contents %}

<main>
    
    <form method="post" action="">
        <div class="container">
            <a href="{{ url_for('gerenciar') }}" class="voltar">&lt voltar</a>
            <section class="solicitacao">
                <h2>Nova Agência</h2>
                <label class="numero">Número<br>
                    <input type="text" name="numeroAgencia">
                </label>
                <label class="endereco">Gerente<br>
                    <input type="text" name="nomeGerente">
                </label>
                <label class="endereco">Endereço<br>
                    <input type="text" name="enderecoGerente">
                </label>
                <section class="botoes">
                    <input type="submit" name="cadastrar" class="cadastrar" value="Cadastrar">
                </section>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <div class="error">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
    </form>
</main>
{% endblock %}