<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <!-- link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tela-cadastro.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
</head>

<body>
    <!-- componente cabeçalho -->
    <header>
        <span class="logo">Logo</span>
    </header>
    <!-- fim -->

    <!-- Formulário--> 
    <main class="container">
        <h1>Novo Cliente</h1>
        <hr>
        <form action="#">
            <div class="linha-inteira">
                <label>Nome: <br>
                    <input type="text" placeholder="Informe seu nome">
                </label>
            </div>

            <div class="mesma-linha">
                <label>CPF (Apenas números): <br>
                    <input type="number" placeholder="Informe seu CPF">
                </label>

                <label>Data de nascimento: <br>
                    <input type="date" class="data">
                </label>

                <label>Gênero: <br>
                    <select name="genero" id="genero" class="genero">
                        <option value="selecione" disabled>Selecione</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                    </select>
                </label>
            </div>

            <div class="linha-inteira">
                <label>Endereço: <br>
                    <input type="text" placeholder="Informe seu endereço" class="linha-inteira">
                </label>
            </div>

            <div class="senha">
                <label  class="input-senha">Senha: <br>
                    <input type="password" placeholder="Informe sua senha">
                </label>
                <label  class="input-senha">Confirmação de senha: <br>
                    <input type="password" placeholder="Confirme sua senha">
                </label>
            </div>
        </form>
        <button type="submit">Cadastrar</button>
    </main>
    <!-- fim -->

    <!-- componente rodapé -->
    <footer>© 2022 Nome da Empresa</footer>
    <!-- fim -->
</body>

</html>