{% extends "base-cliente.html" %}

{% block contents %}

<main>

    <!-- deposito -->
    <div class="container">
        <h2>Quanto você quer depositar?</h2>
        <form method="post" class="transacao">
            <div class="campo-duplo">
                <div class="info-conta">
                    <label>Saldo disponível</label>
                    <span>R$ {{ session['saldoUsuario'] }}</span>
                </div>
                <label class="info-conta">Valor<br>
                    <input type="text" name="valorDeposito" placeholder="R$ 0,00" step="0.01">
                </label>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <div class="error">{{ message }} <a href={{url_for("comprovante")}} class="voltar">aqui</a></div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            <input type="submit" class="button" value="Depositar">
        </form>
    </div>

</main>
{% endblock %}