{% extends "base.html" %}

{% block contents %}

<main>

    <!-- título -->
    <div class="fundo">
        <div class="titulo">
            <h1>Depósito</h1>
            <hr>
        </div>
    </div>

    <!-- deposito -->
    <div class="container">
        <h2>Quanto você quer depositar?</h2>
        <form method="post" action="">
            <div class="transacao">
                <div class="saldo">
                    <label>Saldo disponível</label>
                    <span>R$ {{ session['saldoUsuario'] }}</span>
                </div>
                <label class="valor">Valor<br>
                    <input type="text" name="valorDeposito" placeholder="R$ 0,00" step="0.01">
                </label>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <div class="error">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            <input type="submit" class="button" value="Depositar">
        </form>
    </div>

</main>
{% endblock %}