<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/tela-login.css">
</head>
<body>
    <h1>Gerencie suas finanças de uma forma eficiente.</h1>
    <br><br>
    <h2>Crie sua conta agora e comece a ter o controle da sua vida financeira.</h2>
    <br><br>
    <div class="tela-login">
        <h3>Faça seu login</h3>
        <br>
        <label for="text">CPF</label>
        <br>
        <input type="number">
        <br><br>
        <label for="text">Senha</label>
        <br>
        <input type="password">
        <br><br>
        <button>Entrar</button>
    </div>
</body>
</html>