<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Abertura de Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu-lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dados-usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tela-abertura-de-conta.css') }}">
</head>
<body>

    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="logo" class="logo"></a>
        <div class="sair">
            <span>Sair</span>
            <a href="{{ url_for('indexHome') }}"><img src="{{ url_for('static', filename='icones/sair.png') }}" alt="sair"></a>
        </div>
    </header>

    <div class="menu">
        <a href="{{ url_for('home') }}">
            <label>
                <img class="icone-menu" src="{{ url_for('static', filename='icones/home.png') }}" alt="home">
            </label>
            <label class="ativo">Home</label>
        </a>

        <a href="#"> <!-- {{ url_for('clientes') }} -->
            <label>
                <img class="icone-menu" src="{{ url_for('static', filename='icones/usuario.png') }}" alt="clientes">
            </label>
            <label class="ativo">Clientes</label>
        </a>

        <a href="#"> <!-- {{ url_for('gerenciar-clientes') }} -->
            <label>
                <img class="icone-menu" src="{{ url_for('static', filename='icones/gerenciar.png') }}" alt="gerenciar-clientes">
            </label>
            <label class="ativo">Gerenciar  clientes</label>
        </a>

        <a href="#"> <!-- {{ url_for('configuracoes') }} -->
            <label>
                <img class="icone-menu" src="{{ url_for('static', filename='icones/configuracoes.png') }}" alt="configurações">
            </label>
            <label class="inativo">Configurações</label>
        </a>
    </div>

        <div class="fundo">

            <div class="fundo">
                <h1>Gerenciar usuários</h1>
                <hr>
        </div>

    <main class="container">
        <div class="fundo">
            <h1>Gerenciar usuários</h1>
            <hr>
        </div>

        <h2>Solicitação de Abertura de Conta</h2>
        <hr>
        <section class="informacoes">
            <div class="linha-inteira">
                <span>Nome</span>
                <br>    
                <div>{{ session[''] }}</div>
            </div>

            <div class="mesma-linha">
                <span>CPF</span>
                <br>
                <div>{{ session[''] }}</div>

                <span>Data de nascimento</span>
                <br>
                <div>{{ session[''] }}</div>

                <span>Gênero</span>
                <br>
                <div>{{ session[''] }}</div>
            </div>

            <div class="linha-inteira">
                <span>Endereço</span>
                <br>
                <div>{{ session['nomeUsuario'] }}</div>
            </div>

            <div class="mesma-linha">
                <span>Número da conta</span>
                <br>
                <div>{{ session[''] }}</div>
                <span>Agência</span>
                <br>
                <div>{{ session[''] }}</div>
            </div>

                <span></span>
            <div class="confirmacao">
            <input type="submit" class="submit" value="Cadastrar">
            <input type="submit" class="cancel" value="Cancelar">
            </div>
        </section>>

    </main>

    <footer>© 2022 SiriusBank</footer>

</body>
</html>