{% extends "base-gerente.html" %}

{% block header %}{% endblock %}

{% block contents %}
<main>

    <!-- dados usuário -->
    <section class="fundo-home-gb">
        <div class="info-usuario-gb">
            <div class="info-gb">
                <h1>Olá, {{ session['gerente_nome'] }}</h1>
                <label>Número de matrícula: {{ session['num_matricula'] }}</label>
                <label>Função: {{ session['funcaoAdministrativa'] }}</label>
            </div>
        </div>
        <hr class="hr">
    </section>
    <section class="container">
        <h2>Agência: {{ session['num_agencia'] }}</h2>
    </section>

</main>
{% endblock %}