<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cabecalho-rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu-lateral.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tela-gerenciar-clientes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dados-usuario.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='icones/logo.png') }}" alt="logo"
                class="logo"></a>
        <div class="sair">
            <span>Sair</span>
            <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='icones/sair.png') }}"
                    alt="sair"></a>
        </div>
    </header>
    <!-- fim -->

    <div class="body">

        <!-- componente menu lateral -->
        <div class="menu">
            <a href="#">
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/home.png') }}" alt="home">
                </label>
                <label class="ativo">Home</label>
            </a>

            <a href="#"> 
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/usuario.png') }}" alt="clientes">
                </label>
                <label class="ativo">Clientes</label>
            </a>
    
            <a href="{{ url_for('gerenciar-clientes') }}"> 
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/gerenciar.png') }}" alt="gerenciar-clientes">
                </label>
                <label class="ativo">Gerenciar  clientes</label>
            </a>

            <a href="#">
                <!-- {{ url_for('configuracoes') }} -->
                <label>
                    <img class="icone-menu" src="{{ url_for('static', filename='icones/configuracoes.png') }}" alt="configurações">
                </label>
                <label class="inativo">Configurações</label>
            </a>
        </div>
        <!-- fim -->

        <div class="container">

            <div class="fundo">
                <h1>Gerenciar Clientes</h1>
                <hr>
            </div>

            <!-- gerenciar-clientes -->
            <!-- filtros -->
            <div class="gerenciar-clientes">
                <form method="post" action="">
                    <div class="filtros">
                        <div class="periodo">
                            <h2>Período</h2>
                            <div>
                                <input type="date" name="data-inicial" placeholder="dd/mm/yyyy">
                                <input type="date" name="data-limite" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="tipo-solicitacao">
                            <h2>Tipo de Solicitação</h2>
                            <select name="tipo-solicitacao" id="tipo-socilitacao">
                                <option value="todos">Todos</option>
                                <option value="abertura">Abertura</option>
                                <option value="fechamento">Fechamento</option>
                                <option value="alteracoes-de-dados">Alterações de dados</option>
                                <option value="deposito">Depósito</option>
                            </select>
                        </div>
                        <input type="submit" class="submit" value="Pesquisar" name="pesquisar">
                    </div>
                </form>

                <!-- tabela -->
                    {% for tabela in tabelas %}
                        {{ titulos[loop.index] }}
                        {{ tabela|safe }}
                    {% endfor %}
                
            </div>
            <!-- fim depósito -->
        </div>
    </div>

    <!-- componente rodapé -->
    <footer>© 2022 SiriusBank</footer>
</body>
</html>