{% extends "base-index.html" %}

{% block contents %}
<main class="container">

    <div class="login">
        <form method="post" action="" class="formulario">
            <h1>SiriusBank</h1>
            <input class="conta" type="number" name="numContaUsuario" id="" placeholder="Matrícula"><br>
            <input class="password" type="password" name="senhaLogin" id="" placeholder="Senha"><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% if error %}
            <p class=error><strong>Erro:</strong> {{ error }}
                {% endif %}
                <input type="submit" class="submit" value="Entrar">
        </form>
    </div>

</main>
{% endblock %}