{% extends "base-cliente.html" %}

{% block contents %}
<main>

    <!-- título -->
    <aside class="fundo">
        <div class="titulo">
            <h1>Depósito</h1>
            <hr>
        </div>
    </aside>

    <div class="container">
        <a href="../templates/tela-gerenciar.html" class="voltar">&lt voltar</a>
        <section class="confirmacao">
            <h2> Confirmação de depósito</h2>
            <div class="linha-inteira">
                <label>Nome </label>
                <span>{{ session['nomeUsuario'] }}</span>
            </div>
            <div class="mesma-linha">
                <div class="info-conta">
                    <label>Número da conta</label>
                    <span>{{ session['contaUsuario'] }}</span>
                </div>
                <div class="info-conta">
                    <label>Agência</label>
                    <span>{{ session['agenciaUsuario'] }}</span>
                </div>
            </div>
        </section>
        <section class="confirmacao">
            <div class="deposito">
                <h2>Depósito</h2>
                <div class="mesma-linha-saldo">
                    <div class="info-conta">
                        <label>Saldo Atual</label>
                        <span>{{ session['saldoUsuario'] }}</span>
                    </div>
                    <div class="info-conta">
                        <label>Valor de Depósito</label>
                        <span>{{ session['valorDeposito'] }}</span>
                    </div>
                    <div class="info-conta">
                        <label>Saldo Final</label>
                        <span>{{ session[''] }}</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="botoes">
            <input type="submit" class="confirmar" value="Confirmar">
            <input type="submit" class="cancelar" value="Cancelar">
        </div>
    </div>

</main>
{% endblock %}