* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gray;
}

.logo {
    width: 7em;
    margin-left: 1.5em;
}

.sair {
    margin-right: 1.5em;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.sair img {
    width: 1em;
    margin-left: 0.5em;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #343434;
    color: white;
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}