* {
    margin: 0;
}

.fundo {
    background-image: linear-gradient(#1A20BD, #22D6C3);
    height: 40%;
}

.dados-usuario {
    width: 70%;
    color: white;
    margin: 0 auto;
    padding-top: 3em;
}

.hr {
    width: 70%;
    color: white;
    margin: 0 auto;
}

.conteudo-dados-usuario {
    width: 100%;
    margin-top: 2em;
}

.dados-usuario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    width: 70%;
}

.dados {
    display: flex;
    flex-direction: column;
}

.dados span {
    margin-bottom: 0.5em;
}

.dados label {
    margin-bottom: 0.2em;
}

.dados-usuario h1, .saldo {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 1em;
}

.dados label {
    font-size: 1.2em;
}
