/* fundo com título da página */
.fundo {
    background-image: linear-gradient(#1A20BD, #22D6C3);
    height: 12rem;
}

.titulo {
    width: 78%;
    margin: 0 auto;
}

/* fundo título da página */
.fundo h1 {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 2rem;
}

hr {
    color: white;
    margin: .5rem auto 2rem auto;
    width: 100%;    
}

/* navbar */
.pageContent .nav {
    display: none;
}

/* TELAS HOME */


/* fundo azul com info cliente */
.fundo-home {
    height: 15rem;
    background-image: linear-gradient(#1A20BD, #22D6C3);
}

/* div info cliente + div saldo disponível */
.info-usuario {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    color: aliceblue;
}

.info {
    display: flex;
    flex-direction: column;
}

/* título "Olá, Cliente" */
.info h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

/* info agência e conta */
.info span {
    display: flex;
}

/* título "Saldo disponível" */
.info .saldo_disponivel {
    font-size: 1.2rem
}

/* valor do saldo em R$ */
.info .saldo {
    display: flex;
    justify-content: right;
    font-size: 1.5rem;
}

/* info gerente*/

.fundo-home-gb {
    height: 15rem;
    background-image: linear-gradient(#1A20BD, #22D6C3);
}

.fundo-home hr {
    width: 75%;
}

.fundo-home-gb hr {
    width: 75%;
}

.info-usuario-gb {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    color: aliceblue;
}

.info-gb {
    display: flex;
    flex-direction: column;
}

.info-gb h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.info-gb span {
    display: flex;
}

/* CABEÇALHO TELAS LOGIN E CADASTRO */


/* cabeçalho */
.body_index header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    right: 0;
    width: 100%;
}

/* logo login */
.body_index header .logo {
    width: 8rem;
    margin-left: 1rem;
}

/* links 'Cliente' e 'Gerente' */
.body_index header .links {
    display: flex;
    align-items: center;
    color: #343434;
}

/* espaçamento entre links */
.body_index header a {
    padding: 13px;
    color: #343434;
}

/* link ao passar o mouse */
.body_index header .cliente:hover,
.body_index header .gerente:hover {
    background-color: #08C746;
    color: white;
    transition: all .5s ease; /* ease: começo e fim lentos */
}

/* link visitado */
.body_index header a:visited {
    color: #343434;
}


/* MEDIA QUERIES HEADER */


@media (max-width: 850px) {
    /* navbar aparece */
    .pageContent .nav {
        display: inline;
    }

    .nav .logo {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 2.5rem;
    }

    /* logo */
    .nav img {
        width: 6rem;
    }

    .fundo-home {
        height: 14rem;
    }

    .fundo-home-gb {
        height: 14rem;
        padding-top: 4rem;
    }

    .fundo-home .info-usuario,
    .fundo-home hr {
        width: 90%;
    }

    .fundo-home-gb .info-usuario-gb,
    .fundo-home-gb hr {
        width: 90%;
    }

    .fundo-home .info-usuario .info h1,
    .fundo-home .info-usuario .info span {
        font-size: 14px;
    }

    .fundo-home-gb .info-usuario-gb .info-gb h1,
    .fundo-home-gb .info-usuario-gb .info-gb span {
        font-size: 14px;
    }

    .fundo-home .info-usuario .info label {
        font-size: 15px;
    }

    .fundo-home-gb .info-usuario-gb .info-gb label {
        font-size: 15px;
        padding-top: 6rem;
        padding-right: 8rem;
    }

    .fundo-home .info-usuario .info h2 {
        font-size: 19px;
    }

    .fundo-home-gb .info-usuario-gb .info-gb h2 {
        font-size: 19px;
    }

    .info-usuario {
        display: inline;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        padding-top: 6rem;
        color: aliceblue;
    }

    .info-usuario-gb {
        display: inline;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        padding-top: 6rem;
        color: aliceblue;
    }
    
    .info {
        display: inline;
    }

    .info-gb {
        display: inline;
    }
    
    /* título "Olá, Cliente" */
    .info h1 {
        font-size: 1rem;
        font-weight: normal;
    }

    .info-gb h1 {
        font-size: 1rem;
        font-weight: normal;
    }
    
    /* info agência e conta */
    .info span {
        display: flex;
    }

    .info-gb span {
        display: flex;
    }
    
    /* título "Saldo disponível" */
    .info .saldo_disponivel {
        font-size: 0.5rem;
        padding-top: 1rem;
    }
    
    /* valor do saldo em R$ */
    .info .saldo {
        display: flex;
        justify-content: left;
        font-size: 1rem;
    }
}