body {
    position: relative; /* alterar a posição de um elemento tendo como referêcia a posição inicial */
    min-height: 100vh;
    width: 100%;
}

/* sidebar */
.sidebar {
    position: fixed; /* elemento não se move na tela */
    width: 78px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    padding: 6px 14px 6px 4px;
    transition: all 0.5s ease; /* transição com início e final lentos */
    box-shadow: 5px 5px 50px 1px #00000038;
    z-index: 1;
}

.sidebar .logoContent .logo {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: auto;
    margin-left: 1rem;
}

.sidebar .logoContent .logo img {
    width: 8rem;
}

.sidebar .links-name {
    opacity: 0;
    margin-left: 1rem;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.sidebar #btn {
    position: absolute; /* elemento pai (relative) como referência */
    top: 1rem;
    left: 50%;
    transform: translate(-50%); /* translate reposiciona o elemento */
    width: 1.5rem;
    height: 1rem;
    line-height: 50px; /* espaçamento entre as linhas */
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    list-style: none; 
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: #343434;
    text-decoration: none;
    border-radius: 10px 0px 0px 10px;
    white-space: nowrap; /* recolhe os espaços em branco, suprime as quebras de linha no texto */
}

.sidebar ul li a:hover {
    background-color: #22D6C3;
}

.sidebar ul li img {
    min-width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.sidebar .profileContent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #343434;
}

.sidebar .profileContent .profile {
    position: relative;
    height: 60px;
    padding: 10px 6px;
}

.sidebar .profileContent .profile .profileDetail {
    display: flex;
    align-items: center;
    pointer-events: none; /* evento de mouse do usuário */
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar .profileContent .profile .profileDetail img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar .profileContent .profile .profileDetail .name {
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
    text-transform: capitalize;
}

.profile #logout {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    bottom: 14px;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.pagina .pageContent {
    position: absolute;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.tooltip {
    position: absolute;
    left: 55px;
    transform: translate(0, -50%);
    width: 0px;
    height: 50px;
    background-color: #22D6C3;
    overflow: hidden;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    box-shadow: 25px 5px 30px 1px #00000038;
    text-align: center;
    display: flex;
    align-items: center;
    color: #1d1d31;
    line-height: 35px;
    transition: width 0.5s;
    transition-timing-function: ease;
    opacity: 0;
    top: 50%;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    width: 130px;
}

/* sidebar active */
.sidebar.active {
    width: 300px;
}

.pageContent.active {
    width: calc(100% - 300px);
    left: 300px;
}

.sidebar.active ul li a {
    border-radius: 10px;
    transition: all 0.2s ease;
}

.sidebar.active .logoContent .logo {
    opacity: 1;
    overflow: hidden;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profileContent .profile .profileDetail {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .profile #logout {
    left: 90%;
}

.sidebar.active:hover .tooltip {
    opacity: 0;
}


/* MEDIA QUERIES MENU */


@media (max-width: 850px) {
    .sidebar {
        width: 0;
        left: -1.3rem;
    }

    .sidebar .nav-list img {
        display: none;
    }

    .sidebar #btn {
        margin-left: 2rem;
        margin-top: -.3rem;
        display: inline;
    }

    .pagina .pageContent {
        width: 100%;
        left: 0;
    }

    .sidebar.active {
        display: inline;
        width: 200px;
        left: 0;
    }

    .sidebar.active .logo {
        display: none;
    }

    .sidebar.active .nav-list {
        margin-top: 2rem;
    }

    .sidebar.active .nav-list img {
        display: inline;
    }

    .sidebar.active #btn {
        margin-left: 0;
    }

    .sidebar .profileContent .profile .profileDetail .name {
        font-size: 13px;
        font-weight: 400;
        margin-left: 15px;
        text-transform: capitalize;
    }
}