/* importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/* removendo formatação padrão da página */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* o navegador passa a considerar a altura e largura do elemento contando o "padding" e o "border do elemento */
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

.pagina {
    display: flex;
}

/* fundo com título da página */
.fundo {
    background-image: linear-gradient(#1A20BD, #22D6C3);
    height: 12rem;
}

.titulo {
    width: 78%;
    margin: 0 auto;
}

/* fundo título da página */
.fundo h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    padding-top: 2rem;
}

hr {
    margin-bottom: 2rem;
}

/* container home */
.container {
    width: 70%;
    max-width: 80rem;
    margin: -4rem auto 4rem auto;
    background-color: white;
    box-shadow: 5px 5px 50px 1px #00000038;
    min-height: 60vh;
    border-radius: 10px;
    padding: 2rem 3rem;
    position: relative;
}

.container_cadastro {
    margin-top: 2rem;
}

/* título da página */
.container h1, 
.container h2 {
    font-weight: normal;
    font-size: 1.8rem;
}

/* mensagens de erro */
.error {
    background-color: #f7bcb9;
    color: #C71308;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
}


/* RODAPÉ */


footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #343434;
    color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}