/* importando fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/* removendo formatação padrão da página */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* o navegador passa a considerar a altura e largura do elemento contando o "padding" e o "border do elemento */
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

.pagina {
    display: flex;
}

/* container home */
.container {
    width: 70%;
    max-width: 80rem;
    margin: -4rem auto 4rem auto;
    background-color: white;
    box-shadow: 5px 5px 50px 1px #00000038;
    min-height: 60vh;
    border-radius: 10px;
    padding: 2rem 3rem;
    position: relative;
}

.container_cadastro {
    margin-top: 2rem;
    min-height: 80vh;
    margin: 2rem auto 2rem auto;
}

/* mensagens de erro */
.error {
    background-color: #f7bcb9;
    color: #C71308;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;
}


/* TELA MEUS DADOS ENCERRAR CONTA */


.div_encerrar_conta .titulo {
    font-weight: bold;
}

.div_encerrar_conta .alerta {
    display: flex;
    align-items: center;

}

.div_encerrar_conta .alerta label {
    background-color: #FFFDC5;
    padding: .5rem;
    border-radius: 3px;
    margin: .5rem 0 1rem 1rem;
}

/* ícone de alerta */
.div_encerrar_conta .alert {
    float: left;
}


/* RODAPÉ */


footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #343434;
    color: white;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}


/* MEDIA QUERIES TELA CADASTRO */


@media (max-width: 900px) {
    .container_cadastro {
        width: 80%;
        height: 100vh;
    }
}

@media (max-width: 850px) {
    .container_cadastro {
        width: 90%;
        height: 100%;
        padding: 1.5rem;
    }

    .container_cadastro h1 {
        font-size: 1.5rem;
    }
}