/* FILTROS */


.barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* alinhar itens ao fim da div */
    overflow: hidden; /* conteúdo não ultrapassa a div */
}

.filtros {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* filtro por nome */
.filtros .nome {
    margin: 0 1rem 0 0;
    width: 100%;
    padding: .5rem;
    border-radius: 3px;
    border: 1px solid #343434;
    outline-color: #08C746;
}

/* filtros tela gerenciar e extrato */
.periodo,
.tipo-transacao,
.tipo-solicitacao {
    display: flex;
    flex-direction: column;
    margin-right: .6rem;
    width: 50%;
}

.periodo span,
.tipo-transacao span,
.tipo-solicitacao span {
    text-transform: capitalize;
}

/* filtros data */
.periodo input {
    padding: .5rem;
    margin-top: .5rem;
}

/* filtros selecionar tipo */
.tipo-transacao select,
.tipo-solicitacao select {
    padding: .5rem;
    margin-top: .5rem;
    width: 100%;
    outline-color: #08C746;
    background-color: white;
    border: 1px solid #343434;
    border-radius: 3px;
    cursor: pointer;
}


/* TABELA */


table.dataframe, .dataframe th, .dataframe td  {
    table-layout: fixed;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    margin: auto;
    width: 90%;
}

table {
    table-layout: fixed;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    margin: auto;
    margin-top: 2rem;
    width: 90%;
}

table th, 
table td{
    padding: 0.8rem;
}

/* cabeçalho tabela */
th {
    background-color: #1A20BD;
    border: none;
    color: aliceblue;
}

/* linha tabela de cor alternada  */
tr:nth-child(even) {
    background: lightgray;
}

/* linha tabela ao passar o mouse */
tr:hover{ 
    background-color: #22D6C3;
}