/* container confirmação de depósito */
.confirmação {
    display: flex;
    flex-direction: column;
}

/* títulos do container */
.confirmacao h2 {
    font-size: 1.5rem;
    padding-top: 1em;
}

/* margin superior  */
.mesma-linha label,
.linha-inteira label {
    margin-top: 1rem;
}

/* campo nome com borda que ocupa linha inteira */
.linha-inteira {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* quebra de linha campos label e span */
.info-conta {
    display: flex;
    flex-direction: column;
}

/* formatação campos com borda */
.linha-inteira span {
    border: 1px solid #343434;
    margin-top: .5rem;
    padding: .4rem;
    border-radius: 5px;
}

/* disposicão dos campos em mesma linha */
.mesma-linha,
.mesma-linha-saldo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* formatação campos com borda */
.mesma-linha span,
.mesma-linha-saldo span  {
    border: 1px solid #343434;
    padding: .4rem;
    border-radius: 5px;
}

/* tamanho de label info conta */
.mesma-linha label {
    width: 23vw;
}

/* tamanho de label valor saldo */
.mesma-linha-saldo label {
    width: 15vw;
}

/* div com os botões */
.botoes {
    display: flex;
    margin: 2rem auto 0 auto;
    width: 60%;
}

/* botão confirmar */
.confirmar {
    background-color: #08C746;
    width: 50%;
    color: aliceblue;
    font-size: 1rem;
    height: 3.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    float: left;
    margin-right: 1rem;
    border-radius: 5px;
}

/* botão confirmar ao passar o mouse */
.confirmar:hover {
    background-color: #419E5E;
    transition: 0.3s all;;
}

/* botão cancelar */
.cancelar {
    background-color: #C71308;
    width: 50%;
    color: aliceblue;
    font-size: 1em;
    height: 3.5rem;
    cursor: pointer; 
    justify-content: center;
    border: none;
    float: right;
    border-radius: 5px;
}

/* botão cancelar ao passar o mouse */
.cancelar:hover {
    background-color: #810e08;
    transition: 0.3s all;;
}