/* fundo azul com info cliente */
.fundo-home {
    height: 15rem;
    background-image: linear-gradient(#1A20BD, #22D6C3);
}

/* div info cliente + div saldo disponível */
.info-usuario {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    color: aliceblue;
}

/* título "Olá, Cliente" */
.info h1 {
    font-size: 2rem;
    font-weight: normal;
}

/* info agência e conta */
.info label {
    display: flex;
}

/* título "Saldo disponível" */
.info h2 {
    font-weight: normal;
}

/* valor do saldo em R$ */
.info span {
    display: flex;
    justify-content: right;
    font-size: 2rem;
}

/* linha abaixo das info */
.hr {
    background-color: aliceblue;
    margin: .5rem auto 0 auto;
    width: 75%;
}

/* parágrafo "Fique à vontade..." */
.container p {
    font-size: 1.3rem;
}