body {
    margin: 0;
    width: 100vw;
}

.container {
    max-width: 60vw;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main, header {
    display: block;
}

hr {
    width: 100%;
    margin-bottom: 30px;
}

/* Formatação das linhas do formulário */

.linha-inteira input{
    display: flex;
    width: 59.5vw;
}

.mesma-linha {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.mesma-linha input, select {
    display: flex;
    width: 17vw;
    height: 2.3em;
}

select {
    width: 17vw;
    height: 33px;
    border: 1px solid #000000;
    margin-top: 7px;
    outline: none;
}

input {
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-top: 7px;
    outline: none;
}

.senha {
    display: flex;
    justify-content: space-between;
}

.senha input {
    display: flex;
    width: 27vw;
}

/* botão */

button {
    height: 35px;
    width: 100px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
}

/* media queries */

@media (max-width: 360px) {
    .container {
        display: block;
        min-width: 90vw;
    }

    input {
        min-width: 90vw;
    }

    .mesma-linha, .senha {
        display: block;
    }

    .genero, .data {
        width: 100%;
    }
}