.barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* alinhar itens ao fim da div */
    overflow: auto; /* conteúdo não ultrapassa a div, gera barra de rolagem */
}

/* filtros */
.filtros {
    display: flex;
}

.periodo,
.tipo-transacao {
    display: flex;
    flex-direction: column;
    margin-right: .6rem;
}

.periodo input {
    padding: .5rem;
    margin-top: .5rem;
    width: 12rem;
}

.tipo-transacao select {
    height: 2.5rem;
    margin-top: .5rem;
    width: 12rem;
    outline-color: #08C746;
}

.pesquisar {
    width: 5rem;
    color: aliceblue;
    background-color: #08C746;
    border: none;
    height: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pesquisar:hover {
    background-color: #419E5E;
    transition: 0.3s all;
}

/* button img {
    width: 1.5rem;
    margin-right: .5rem;
} */

table.dataframe, .dataframe th, .dataframe td {
    table-layout: fixed;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    margin: auto;
    width: 90%;
}

th {
    background-color: #1A20BD;
    color: aliceblue;
}

/* linha tabela de cor alternada  */
tr:nth-child(even) {
    background: lightgray;
}

tr:hover{ 
    background-color: #22D6C3;
}